<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

 
<configuration>
  
<appSettings>
  <add key="SERVER_API_KEY" value="AAAA6whQKvs:APA91bGzwi0DZPU_NDc94027eQdYlcJQWxL17hIaHNqHmgyJfg2oQ4Pep445eAHrW2hk48XZQjbAgWL7rb5YKDgJY8bjtv2NDDwFAPDdjk6QCuvJ4G-8j6PjKL9HrzUkd7Ud0CSIwnxu" />
  <add key="SENDER_ID" value="1009456786171" />

      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <add key="mailFrom" value="sharepoint@57357.org" />
    <add key="smtpServer" value="mail.57357.com" />
    <add key="smtpPort" value="25" />

    <add key="userName" value="hospital57357\sharepoint" />
    <add key="password" value="P@ssw0rd123" />



    <!--<add key="mailFrom" value="mahmoud.abdelsattar847@gmail.com" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />-->
    <add key="mailSubject" value=" alert" />
    <add key="mailSubjectToMembers" value=" alert" />

    <add key="MembersMailBody" value=" &lt;html&gt;&lt;body&gt;Dear ,  &lt;br /&gt; &lt;br /&gt; This is a kind reminder that your deadline for submitting your timesheet  is tomorrow , using the “timesheet System” through: https://timesheet.57357.org  &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;Thanks for your understanding…&lt;br /&gt;AppDev Team &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;p style=&quot;text-align: center; text-decoration: underline;color: gray;font-style: italic&quot;&gt;*** This is an automatically generated email, please do not reply ***&lt;/p&gt;&lt;/body&gt;&lt;/html&gt;" />

    </appSettings>
 
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
 
</configuration>
